body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E5E6EA;
}

a {
  color: #00B7FF;
}

.stats {
  background-color:#264e63;
  margin: 1% 4%;
  border-radius: 5px;
}

.stat-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.stat-table-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  padding: .75rem 1.25rem;
}

tr {
  background-color: #253E4B;
  border: 1px solid black;
  color: white;
}

tr:nth-child(even) {
  background-color: #193441;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
}

.table {
  padding: 1rem;
}

/* Style the tab */
.stat-tabs {
  margin: 1% 4%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.stat-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.stat-tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.stat-tabs button.active {
  background-color: #ccc;
}